body{
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.square{
  background: #1b1b32;
  width: 10rem;
  aspect-ratio: 1/1;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}